h1.heading {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
 }

 p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
 }

 .detail__box {
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    background-color: #3faef8;
    padding: 10px;
    transition: .4s ease;
 }

 .detail__box:hover {
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #3f95f8, #3fbef8);
 }

 .detail__box:hover .icon {
    color: #fff;
 }

 .detail__box:hover p.detail__text .p__color {
          color: #fff !important;
 }

 .icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #ffffff;
 }

 p.detail__text.p__color {
    margin-bottom: 0;
 }

 h1.detail__text {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
 }

 @media only screen and (max-width: 765px) {
   #stand{
      display: none;
    }
   .row__detail{
      display: flex;
      flex-direction: column;
   }
 }



.detail{
   background-image: url(../../img/wave4.svg);
   background-color: #ffffff;
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
}

.container__detail{
   width: 80%;
   margin: 0px auto;

}
.stand{
   width: 50%;
 }

.column__detail{
   display: flex;
   flex-direction: row;
}
