.about {
    background-image: url(../../img/wave2.svg);
    background-color: #ffffff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

img.about__img {
    border-radius: 10px;
    width: 100%;
}

h1.about__heading {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
}

button.about.btn.pointer {
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4 ease;
}

.about__button {
    padding: 20px 0px;
}

a.bottom__to__top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    background: #F9004D;
    border-radius: 50%;
    cursor: pointer;
    align-content: center;
    display: none;
    justify-content: center;
    transition: .4s ease;
    z-index: 1000;
}

a.bottom__to__top.active {
    display: flex;
}

.about__text{
    color: rgb(12, 11, 11);
    font-size: 20px;
    border:  1px solid;
}

@media only screen and (max-width: 768px) {
    button.about.btn.pointer {
        text-transform: capitalize;
        width: 165px;
        height: 50px;
        font-size: 13px;
        transition: .4s ease;
    }
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 