.contact {
    background: linear-gradient(0deg, rgba(85,200,251,1) 0%, rgba(162,222,249,0.5214460784313726) 38%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact__row{
    background-image: url(../../img/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1.hire__text {
    font-size: 40px;
}
p.hire__text {
    font-size: 16px;
    line-height: 30px;
    color: rgba(29, 29, 36, .75);
    font-weight: 400;
}

input.contact {
    display: block;
    padding: 0 20px;
    border: 2px solid rgba(0,0,0, .1);
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    height: 50px;
    line-height: 46px;
    margin: 20px 0px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    letter-spacing: .1px;
    background: none;
    border: 2px solid hsla(0, 0%, 100%, .2);
}

.contact__img {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

textarea#message {
    height: 120px;
    background: none;
    padding: 0 20px;
    width: 100%;
    line-height: 46px;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    border: 2px solid hsla(0, 0%, 100%, .2);
}

button.btn.contact.pointer {
    margin: 20px 0px;
}

button.view__more:hover {
    background-color: #fff;
    border: 2px solid #00c7f9;
    color: #00aaf9 !important;
}

.component__spac{
    padding-top: 100px
  }

.contact__img{
    width: 50%
}

.contact__box{
    background-color: #8bf1ff;
    opacity: .7;
    text-shadow: 1px 1px white;
    height: 50%;
    margin: 20px;
    padding: 20px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50px;
    
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
    padding: 20px;
}

.icons{
    height: fit-content;
    size: 200px;
}

@media only screen and (max-width: 765px) {
    .contact__img{
       display: none;
     }
    .row__detail{
       display: flex;
       flex-direction: column;
    }
  }