*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}

h1,h2,h3,h4,h5,h6,span{
  font-size: 18px;
  color: rgb(253, 246, 246);
  font-family: Poppins, sans-serif;
  text-shadow: 1px 1px 2px black;
}

li{
  overflow: hidden;
}

p{
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.container{
  width: 80%;
  margin: 0px auto;
}

.white{
  color: #fff !important;
}

.d__flex{
  display: flex;
}

.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: start;
}


.col__2{
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}

.component__space{
  padding: 100px 0;
}

.pointer{
  cursor: pointer;
}

.svg{
  stroke-width: 1 !important;
}

button.btn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #0099ff;
  background: none;
  background-color: #0099ff;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .4s all ease;
  height: 50px;
  width: 180px;
  margin: 0 10px;
}

.p__color {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  margin-bottom: 15px;
  stroke: black;
}

button.about.btn.pointer:hover {
  background: rgb(95, 64, 64);
  color: #000 !important;
}

@media only screen and (max-width: 768px) {
    .col__2 {
     max-width: 100%;
    }
}

.col__3 {
  display: flex;
  padding: 1px;
  margin-top: 20px;
  margin-left: 500px;
}

.col__4 {
  display: flex;
  justify-content: space-evenly;

}

.column{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}

.component__space{
  padding: 100px 0px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .col__3 {
   max-width: 50%;
  }
  
}

@media only screen and (max-width: 425px) {
.col__3 {
 max-width: 100%;
}

}

